/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/OlaMundoSwing/dist/
/ResolucaoDaTela/dist/
/IdiomaDoSistema/dist/
/HoraDoSistema/dist/
/RelogioSwing/nbproject/private/
/RologioSwing/nbproject/private/
/RologioSwing/build/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/