/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/OlaMundoSwing/dist/
/ResolucaoDaTela/dist/
/IdiomaDoSistema/dist/
/HoraDoSistema/dist/
/RelogioSwing/nbproject/private/
/RologioSwing/nbproject/private/
/RologioSwing/build/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/ComparacaoString/nbproject/private/
/ComparacaoString/build/
/OperadoresLogicos/nbproject/private/
/OperadoresLogicos/build/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/LeitorPensamento/nbproject/private/
/LeitorPensamento/build/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaIdade/nbproject/private/
/ProgramaIdade/build/
/ProgramaParImparSeing/nbproject/private/
/ProgramaParImparSeing/build/
/EquacaoSegundoGrau/nbproject/private/
/EquacaoSegundoGrau/build/
/ProgramaPernas/nbproject/private/
/ProgramaPernas/build/
/ProjetoTriangulo/nbproject/private/
/ProjetoTriangulo/build/
/ProgramaCambalhota/nbproject/private/
/ProgramaCambalhota/build/
/Contador02/nbproject/private/
/Contador02/build/
/ProjetoFatorialSwing/nbproject/private/
/ProjetoFatorialSwing/build/